In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing

df = pd.read_csv('motility_features.csv')

# converts valid date entries to date, changes non-valid entries (. and nan) to NaT
#df["DATE"] = pd.to_datetime(df["DATE"], infer_datetime_format=True, errors='coerce')

df.head()

     VAP    VSL    VCL  ALH   BCF  STR  LIN BLAST_D8
0  112.2   94.5  212.3  9.0  34.2   82   44   33.333
1  123.7  103.7  218.5  9.4  29.8   82   48   16.049
2   96.4   81.1  181.9  8.2  28.4   82   47   20.253
3   55.5   48.8   84.8  6.5  29.9   90   69   27.027
4  104.5   92.1  181.4  6.8  40.1   86   51   39.024

In [47]:
df = df.replace("-", 0)
# Create a minimum and maximum processor object
min_max_scaler = preprocessing.MinMaxScaler()

# Create an object to transform the data to fit minmax processor
x_scaled = min_max_scaler.fit_transform(df)

# Run the normalizer on the dataframe
df_normalized = pd.DataFrame(x_scaled)

C:\Users\benho\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype int64, float64, object were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [45]:
df.cov()

,VAP,VSL,VCL,ALH,BCF,STR,LIN
VAP,298.556027,293.060750,368.402134,-1.947169,12.805793,25.860796,38.712118
VSL,293.060750,318.529902,280.596996,-8.905841,29.391008,55.198924,77.814155
VCL,368.402134,280.596996,803.867049,22.859650,-30.965716,-46.926532,-99.416756
ALH,-1.947169,-8.905841,22.859650,19.596660,-6.208647,-7.213064,-10.710836
BCF,12.805793,29.391008,-30.965716,-6.208647,25.674933,19.113720,25.849657
STR,25.860796,55.198924,-46.926532,-7.213064,19.113720,33.105960,45.034045
LIN,38.712118,77.814155,-99.416756,-10.710836,25.849657,45.034045,77.292526

In [46]:
df_normalized.cov()

,0,1,2,3,4,5,6,7
0,0.033645,0.036472,0.025150,-0.000371,0.005091,0.009151,0.008934,-0.002678
1,0.036472,0.043778,0.021155,-0.001874,0.012905,0.021571,0.019831,-0.000920
2,0.025150,0.021155,0.033245,0.002639,-0.007458,-0.010059,-0.013899,-0.004241
3,-0.000371,-0.001874,0.002639,0.006316,-0.004175,-0.004317,-0.004180,-0.001839
4,0.005091,0.012905,-0.007458,-0.004175,0.036015,0.023862,0.021047,0.001021
5,0.009151,0.021571,-0.010059,-0.004317,0.023862,0.036784,0.032633,0.004201
6,0.008934,0.019831,-0.013899,-0.004180,0.021047,0.032633,0.036528,0.002366
7,-0.002678,-0.000920,-0.004241,-0.001839,0.001021,0.004201,0.002366,0.042933